<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFondServis" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Service/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFondServis"
                contract="ServiceReference1.IFondServis" name="BasicHttpBinding_IFondServis" />
        </client>
    </system.serviceModel>
</configuration>