html {
    /*background: #e2e2e2;*/
    margin: 0;
    padding: 0;
	height: 100%;
}

body {
    background-color: #fff;
    /*border-top: solid 10px #000;*/
    color: #333;
    font-size: .85em;
    /*font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    /*a:hover {
        background-color: #c7d1d6;
    }*/

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    /*background-color: #efeeef;*/
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        /*background: url("../Images/accent.png") no-repeat;*/
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        /*background: url("../Images/heroAccent.png") no-repeat;*/
    }

header .content-wrapper {
    padding-top: 20px; 
}
    
footer {
    clear: both;
    /*background-color: #e2e2e2;*/
    font-size: .8em;
    height: 10px;
}


/* site title
----------------------------------------------------------*/
/*.site-title {
    color: #c8c8c8;
    font-size: 2.3em;
    margin: 0;
}*/

/*.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}*/


/* login
----------------------------------------------------------*/
/*#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }*/


/* menu
----------------------------------------------------------*/
/*ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }*/


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

/*.label {
    font-weight: 700;
}*/

/* login page */
/*#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }*/

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }
    
/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    /*label {
        display: block;
        font-size: 1.2em;
        font-weight: 600;
    }*/

    label.checkbox {
        display: inline;
    }

    input, textarea {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        /*width: 300px;*/
    }

    textarea {
        font-family: inherit;
        width: 500px;
    }
    
        input:focus, textarea:focus {
            border: 1px solid #7ac0da;
        }

        input[type="checkbox"] {
            background: transparent;
            border: inherit;
            width: auto;
        }
        
    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
/*.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}*/

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* tables
----------------------------------------------------------*/
/*
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
	font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
        
    }

	th a:link, th a:visited, th a:active, th a:hover {
		color: #333;
		font-weight: 600;
		text-decoration: none;
        padding: 0;
	}

	th a:hover {
		color: #000;
	}

    th.asc a, th.desc a {
        margin-right: .75em;
    }
    
    th.asc a:after, th.desc a:after {
		display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
	}

	th.asc a:after {
		content: '▲';
	}

	th.desc a:after {
		content: '▼';
	}

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}
	*/

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    
    
    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
/* END: Mobile Styles */

/************************ DODANO ************************/
/********************************************************/

html,
body{
	margin: 0;
	padding: 0;
	height: 100%;
}

form{
	min-height: 100%;
	position: relative;
}

body
{
	background: #e6e6e6;
    font-size: 14px;
    /*font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;*/
    font-family: 'Signika', sans-serif;
    color: #32393b;
}

#body
{
	/*padding-top: 15px;*/
    padding-bottom: 100px; /* visina footera + još malo */
}

#body.standalone{
    padding-bottom: 0;
}

a{
    padding: 0;
}

footer{
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
    background: #f05a22 url(/Images/triangles.png) no-repeat center center;
}

footer .foot_info{
    height: 34px;
    position: absolute;
    top: 50px;
    margin-top: -17px;
    width: 1000px;
    left: 50%;
    margin-left: -545px;
}

footer .foot_info span{
	font-size: 15px;
    vertical-align: middle;
    margin-left: 10px;
}

footer .foot_info img{
	vertical-align: middle;
}

footer .foot_info a{
	color: #fff;
	text-decoration: none;
}

footer .foot_logo{
	width: 170px;
	margin-left: -32px;
}

footer .foot_copyright{
	position: absolute;
	bottom: 5px;
	left: 5px;
}

header
{
	overflow: auto;
	/*background: #404040;
	background-image: url('../Images/header.png'), linear-gradient(to left, #606060, #808080);
	background-repeat: no-repeat;
    box-shadow: inset 0 -8px 10px -5px rgba(0,0,0,0.3);*/
    position: relative;
    /*height: 148px;*/
    z-index: 1;
}

header .menu_container{
    background: #fff;
    height: 100px;
    overflow: auto;
}

.site-title
{
    vertical-align: middle;
    display: inline-block;
    width: 247px;
    height: 43px;
    background: url(/Images/investiraj_logo_color.png) no-repeat center center;
}

ol li{
	margin: 5px 0 5px 20px;
}

.info
{
	background: url("../Images/info_dark.png") no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 2px;
	position: relative;
	top: -3px;
	cursor: help;
}

/*LOGIN podaci*/
#login
{
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 48px;
    background-color: rgb(239, 90, 33);
    background-color: rgba(239, 90, 33, .7);
    position: relative;
}

#login ul {
    position: absolute;
    right: 50%;
    margin-right: -584px;
}

#login li{
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 46px;
}

#login li:not(:first-child){
    margin-left: 20px;
}

#login,
#login a
{
    vertical-align: middle;
    margin: 0;
    padding: 0;
	color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(190, 70, 20, .7);
}

#login a:hover{
    color: #FDF1ED;
}

#login .username{
    text-decoration: underline;
}

#login .log_out
{
    display: inline-block;
    width: 16px;
    height: 18px;
    vertical-align: middle;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    -webkit-transition: background 0.1s;
    transition: background 0.1s;
    background: url(/Images/log_out.png) no-repeat center center;
    background: url(/Images/log_out_bg.png) no-repeat 0 center, url(/Images/log_out_fg.png) no-repeat 0 center;
}

#login .log_out:hover{
    background: url(/Images/log_out_bg.png) no-repeat 0 center,
                url(/Images/log_out_fg.png) no-repeat 3px center;
}

a.blog_link{
    display: inline-block;
    width: 100px;
    height: 48px;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
    background-color: #31393a;
    color: #fff;
    font-size: 21px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

a.blog_link:hover{
    background-color: #262B2C;
}

/* COOKIE UPITNIK */
#cookie_consent{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 30px;
    z-index: 100;
    background: rgba(0,0,0,.9);
    color: #fff;
    font-size: 15px;
}

#cookie_consent a{
    color: #58B3F0;
}

a#cookie_accept{
    display: inline-block;
    padding: 2px 3px;
    margin-left: 5px;
    background-color: #F6A47B;
    color: #32393B;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

a#cookie_accept:hover{
    color: #111;
}

.text_body{
    max-width: 800px;
    margin: 20px auto;
    padding: 0 30px;
    font-size: 15px;
}

.text_body h1,
.text_body h3{
    color: inherit;
    margin-top: 25px;
}

.text_body p{
    margin-top: 10px;
}

/*GLAVNI MENU*/
.menu_container a.blog_link{
    position: absolute;
    right: 50%;
    margin-right: -584px;
    bottom: 25px;
}

nav
{
	max-width: 1000px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -500px;
    /*margin: 0 auto;
    margin-top: 40px;*/
}

.main_menu
{
	float: none !important;
    display: inline-block;
    height: 47px;
    margin-left: 20px;
}

.main_menu ul
{
	/*height: 30px;*/
	margin: 0;
	padding: 0;
	float: none !important;
	position: static !important;
    max-width: 700px;
    vertical-align: middle;
    height: 100%;
}

.main_menu ul li
{
	position: static !important;
	list-style-type: none;
	float: none !important;
	display: inline-block;
    vertical-align: middle;
}

.main_menu ul li a
{
	color: #32393b;
	padding: 0px 5px;
	font-size: 21px;
	text-transform: uppercase;
	text-decoration: none;
	/*display: block;*/
	transition: 0.3s;
    line-height: 43px;
}

.main_menu ul li a:hover
{
	color: #000;
	text-shadow: none;
}

.main_menu ul li a.current,
.main_menu ul li a.level1.selected
{
	/*background-color: #fafafa;
	color: #2d2d2d;
	border-radius: 3px 3px 0 0;
    box-shadow: 0 0px 7px 2px rgba(0,0,0,0.15);*/
	color: #f37e43;
}

.main_menu ul li a.text_highlight
{
	color: #f00;
}

/*popup*/
/*.main_menu > ul{
  height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  float: none;
  position: static !important;
}

.main_menu li {
  float: left;
  padding: 0px;
}

.main_menu li a {
  display: block;
  line-height: 30px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}

.main_menu li ul {
  background: #2d2d2d;
  display: none;
  height: auto;
  padding: 0;
  margin: 0px;
  border: 0px;
  position: absolute;
  top: auto !important;
  left: auto !important;
  z-index: 200;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
.main_menu li:hover ul {
  display: block;
}

.main_menu li li {
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
}

.main_menu li ul a {
  display: block;
  height: 35px;
  font-size: 15px;
  margin: 0px;
  padding: 0px 15px;
  text-align: left;
  border-left: 2px solid transparent;
}

.main_menu li ul li:hover > a {
  border-left: 2px solid #ccc;
  color: #ffffff;
  background-color: #444;
}*/

.site_enter{
    width: 100%;
    height: 661px;
    background: url(/Images/enter_bg.png) no-repeat center center;
    margin-top: -148px;
    position: relative;
    overflow: auto;
}

.site_enter .inner_box{
    width: 370px;
    height: 270px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .8);
    margin: 0 auto;
    margin-top: 240px;
    overflow: auto;
    font-size: 21px;
}

.site_enter .inner_box a.box_button{
    display: block;
    width: 230px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.site_enter .inner_box a.box_button:first-child{
    margin-top: 40px;
}

a.box_button.help{
    background: #ef5a21;
}

a.box_button.help:hover{
    background: #E54C10;
}

a.box_button.register{
    background: #575b5a;
}

a.box_button.register:hover{
    background: #505352;
}

.site_enter .inner_box a.button_more{
    display: inline-block;
    font-weight: lighter;
    text-decoration: none;
    margin-left: 70px;
    margin-top: 25px;
}

.site_introduction{
    height: 794px;
    width: 100%;
    /*background: url(/Images/triangle_big_dark.png) left bottom no-repeat, 
                url(/Images/triangle_big_light.png) right 20px top no-repeat;
    background-color: #f1f1f1;*/
    background: #f1f1f1 url(/Images/triangles_big.png) no-repeat center center;
    text-align: center;
    overflow: auto;
}

.site_introduction .title_zasto{
    display: inline-block;
    margin-top: 40px;
    font-size: 48px;
    font-weight: bold;
    color: #32393b;
    border-bottom: 8px solid #ef5a21;
}

.site_introduction .columns{
    width: 1200px;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
}

.site_introduction .columns .column{
    display: table-cell;
    padding: 5px;
    text-align: center;
    padding-top: 150px;
}

.site_introduction .column.jednostavno{
    background: url(/Images/jednostavno.png) no-repeat center top;
}

.site_introduction .column.pouzdano{
    background: url(/Images/pouzdano.png) no-repeat center top;
}

.site_introduction .column.podrska{
    background: url(/Images/podrska.png) no-repeat center top;
}

.site_introduction .columns .title{
    color: #32393b;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
}

.site_introduction .columns .text{
    font-size: 21px;
    font-weight: lighter;
}

.blog_banner{
    height: 399px;
    width: 100%;
    text-align: center;
    background: #fff url(/Images/blog_banner.png) no-repeat center center;
    position: relative;
    overflow: auto;
}

.blog_banner .title_blog{
    display: block;
    margin-top: 40px;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

.blog_banner .text{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 1125px;
    font-size: 21px;
    font-weight: lighter;
    color: #fff;
}

.blog_banner a.blog_link{
    display: inline-block;
    width: 230px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    top: 250px;
    background: #575b5a;
    color: #fff;
    font-weight: bold;
}

.blog_banner a.blog_link:hover{
    background: #505352;
}

/************/

.clearfix:before,
.clearfix:after
{
	content: " ";
    display: table;
}

.clearfix:after
{
	clear: both;
}

/* statusna poruka */
.poruka
{
	display: block;
	margin: 20px auto;
	text-align: center;
}

.poruka_small{
	display: block;
}

.poruka.error,
.poruka_small.error
{
	color: #FF1111;
}

.content_tall{
	min-height: 760px;
}

.form_body
{
	/*min-width: 500px;*/
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 0;
    overflow: auto;
}

.form_body_table{
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 140px;
}

.form_body.front{
    margin-bottom: 100px;
}

.form_body.wide
{
	width: 900px;
}

.form_body.portfelj
{
	width: 1000px;
}

.form_body.extra_wide
{
	width:985px;
}

.left
{
    float: left;
    width: 365px;
}

.right
{
    float: right;
    width: 365px;
}

.right.align
{
	text-align: right;
}

.form_header
{
    background-color: #32393b;
    padding-top: 20px;
    padding-bottom: 20px;
	margin-top: 0;
    color: #fff;
    font-size: 36px;
	cursor: default;
    text-align: center;
    text-transform: lowercase;
}

.form_header.bar{

}

/* uvjeti pretraživanja */
.search_body
{
	margin: 0px auto 0 auto;
	width: 100%;
	position: relative;
}

/* pretražnik menu */
.search_list
{
	width: 100%;
}

.search_list ul
{
	width: 100% !important;
	float: none !important;
	height: 46px;
	padding: 0;
    background-color: #dcdad6;
    border-collapse: collapse;
}

.search_list ul li
{
	display: inline-block;
	width: 19.5%;
	height: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	position: relative;
}

.search_list ul li:not(:last-child){
    border-right: 1px solid #fff;
}

.search_list.items8 ul li{
	width: 12.4%;
}

.search_list.items7 ul li{
	width: 14.1%;
}

.search_list.items6 ul li{
    width: 16.5%;
}

.search_list li a
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    font-size: 18px;
    line-height: 46px;
	text-decoration: none;
    transition: 0.2s;
}

/* odabrana stavka menija */
.search_list li a.selected,
.search_list li a.highlighted
{
	background: #f6a47b;
}

/*napredna pretraga*/
.search_list li a[href^=javascript]{
    padding-right: 15px;
    background: url(/Images/arrow_more.png) no-repeat center right;
	background: url(/Images/arrow_more.png) no-repeat center right 7px;
}

.search_list li a[href^=javascript].opened{
    background: url(/Images/arrow_less.png) no-repeat center right;
    background: url(/Images/arrow_less.png) no-repeat center right 7px;
}

/* dodatni uvjeti pretrage */
.search_extra_toggle
{
	display: block;
	height: 20px;
	width: 100%;
	position: relative;
}

.search_extra_toggle input[type=checkbox]
{
	display: none;
}

.search_extra_toggle input[type=checkbox] + label
{
	cursor: pointer;
	display: inline-block;
	padding: 0;
	margin: 0;
	min-width:  initial;
	width: 25px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	position: absolute;
	right: 0;
	z-index: 0;
	background: #4F97E3 url(../Images/plus_white.png) no-repeat center center;
	opacity: 0.3;
	transition: opacity 0.3s;
}

.search_extra_toggle input[type=checkbox] + label:hover
{
	opacity: 1;
}

.search_extra_toggle input[type=checkbox]:checked + label
{
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	background: #4F97E3 url(../Images/minus_white.png) no-repeat center center;
}

.search_extra
{
	/*border: 1px solid #AAA;*/
	/*background: rgba(79,151,227,0.04);*/
    /*border-top: 1px solid rgba(79,151,227,0.05);*/
	padding: 0;
    height: 45px;
    position: relative;
	border-bottom: 1px solid #fff;
    background: #fce5d9;
    font-size: 13px;
}

.search_extra_label
{
    display: inline-block;
	line-height: 45px;
	width: 221px;
	padding-left: 15px;
    font-weight: lighter;
    text-transform: lowercase;
}

.search_list_extra
{
    display: inline-block;
}

.search_list_extra input[type=radio]
{
    display: none;
}

.search_list_extra input[type=radio] + label
{
	line-height: 45px;
    display: inline-block;
    width: 123px;
	cursor:pointer;
    font-weight: lighter;
    text-align: center;
    text-transform: lowercase;
    background-color: #facbb3;
    border-right: 1px solid #fff;
}

.search_list_extra > input[type=radio]:first-child + label,
.search_list_extra > input[type=radio].first_child + label
.search_list_extra.small input[type=radio] + label
{
	width: 61px;
}

.search_list_extra input[type=radio]:checked + label,
.search_list_extra input[type=radio].checked + label
{
    background-color: #f6a47b;
}

input.btn_trazi
{
	padding: 0;
	margin: 0;
	width: 135px;
	height: 23px;
	background-color: #CAE0F7;
	border: 1px solid #B8D5F4;
	border-left: none;
	color: #333;
	font-size: 12px;
	font-weight: bold;
}

input.btn_trazi:hover
{
	background-color: #B8D5F4;
}

input.btn_trazi:active
{
	position: relative;
	top: 1px;
}

input.btn_trazi:focus
{
	outline: 0;
}

/* podaci u tablici */
.dxgvControl, .dxgvDisabled{
    font-family: inherit;
    font-size: 15px;
}

.data_container
{
	margin: 30px 0 20px 0;
	position: relative;
}

.data_table
{
	width: 100%;
	border: none;
}

.data_table td.dxgv{
    color: #32393b;
}

.data_table.admin
{
}

.data_table_role
{
	border: 1px solid #e0e0e0;
	background-color: #fbfbfb;
	cursor: default;
}

.data_table_role th
{
	border: none;
	text-align: left;
	padding: 2px 5px;
}

.data_table_role td
{
	padding: 2px 3px;
	border: none;
}

.data_table_role td:nth-child(2)
{
	padding-left: 5px;
	padding-right: 10px;
}

/*gumb za uređivanje u gridu*/
.data_table img.dxgvCommandColumnItem
{
	margin: 0 4px;
}

.data_table .dxgvTitlePanel
{
	background-color: #F6A47B;
    color: inherit;
    border: none;
}

.data_table .dxgvStatusBar
{
	background-color: #DCEAF9;
}

.data_table .dxgvSelectedRow .dxgv
{
	background: linear-gradient(to bottom,  #3F8CDE, #2E82DC);
	border-bottom: 1px solid #2378D1 !important;
}

.data_table .dxgvHeader td{
    padding-left: 5px;
}

.data_table .dxgvHeader,
.data_table .dxgv
{
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	border-bottom: 1px solid #EEF5FC !important;
}

.data_table .dxgvDataRow:last-child .dxgv
{
	border-bottom: none !important;
}

.data_table .dxgvHeader,
.data_table .dxgvFooter,
.data_table .dxgvPagerBottomPanel
{
	background-color: #dcdad6;
	padding: 0;
    height: 30px;
    font-weight: lighter;
}

.data_table tr.dxgvDataRow
{
    background-color: #e6e6e6;
    height: 30px;
}

.data_table .dxgvDataRow td.dxgv
{
	/*padding: 3px 4px;*/
    font-weight: lighter;
}

.data_table td.dxgvIndentCell
{
	background-color: #e6e6e6;	
}

.data_table tr.dxgvGroupRow
{
	background: #f6a47b;
    font-weight: 400;
    height: 30px;
}

.data_table tr.dxgvGroupRow td.dxgv{
    padding: 0;
    padding-left: 21px;
    line-height: 30px;
}

.data_table tr.dxgvGroupRow tr.dxgvGroupRow
{
	background: #f00;
}

.dxgv a img
{
	vertical-align: middle;
}


.data_table a
{
	text-decoration: none;
}

/*cijena fonda koja nije današnja*/
.data_table .stara_cijena
{
    font-size: 15px;
	color: #777;
}

a.updateCart:link /*link za uklanjanje iz usporedbe*/
{
	display: inline-block;
	padding: 0;
	line-height: 30px;
	text-align: center;
	vertical-align:middle;
	text-decoration: none;
	font-size: 12px;
	width: 30px;
	height: 24px;
	color: transparent;
	background: url(../Images/usporedi.png) no-repeat center center;
	transition: 0.5s;
}

a.updateCart.disabled
{
	/*background-color: #ccc;*/
	background-color: #d0d0d0;
	pointer-events: none;
}

a.updateCart.remove
{
	background-color: #F6A47B;
}

a.updateCart.bigger:link
{
    width: 110px;
    height: 45px;
	line-height: 45px;
    font-family: inherit;
	font-size: 18px;
    font-weight: bold;
    color: inherit;
	background: #f6c2a8 url(/Images/usporedi_black.png) no-repeat 90px center;
    text-align: left;
    padding-left: 10px;
}

a.updateCart.bigger.remove{
	background-color: #f7a57b;
}

.progress_message
{
	position: absolute;
	width: 120px;
	left: 50%;
	margin-left: -60px;
	height: 50px;
	line-height: 50px;
	top:50%;
	margin-top: -25px;
	text-align: center;
    background: #fff url('../Images/ajax-loader.GIF') no-repeat left center;
	background: #fff url('../Images/ajax-loader.GIF') no-repeat left 5px center;
	padding-left: 20px;
	box-shadow: 0 1px 2px 1px rgba(0,0,0,0.4);
	z-index: 1;
}

/* zahtjevi */
.cell_btn_zahtjev_izvrsi
{
	padding: 5px 0 4px 0 !important;
}

/* USPOREDBA FONDOVA */
.search_label
{
	display: inline-block;
	vertical-align: middle;
}

.search_group
{
	margin-top: 3px;
    display: inline-block;
}

.search_item_group
{
	display: block;
    margin: 5px 0;
}

.search_item_group.block{
    display: inline-block;
}

.search_date_range{
    margin-top: 10px;
}

.search_control_date
{
	display: inline-block;
	height: 20px;
	width: 90px;
	vertical-align:middle;
	margin: 0;
	border: 1px solid #ccc;
}

.search_date_range .search_control_date{
    height: 25px;
	width: 90px;
}

.search_date_range  .search_control_date input.dxeEditArea /*DX input*/
{
	margin: 0;
    height: 20px;
}

.fond_usporedba_container .search_control
{
	vertical-align: middle;
	border: 1px solid #ccc;
	height: 40px;
    width: 192px;
	padding: 0;
    padding-left: 10px;
	margin: 0;
    font-size: 21px;
    color: inherit;
    outline: 0;
}

.fond_usporedba_select:first-child select{
    width: 193px;
}

a.search_button
{
	display: inline-block;
	/*width: 50px;*/
    height: 25px;
    line-height: 25px;
	padding: 0 10px;
	text-align: center;
	margin-left: 5px;
	text-decoration: none;
	background: #32393B;
    color: #fff;
	vertical-align:middle;
}

.search_button.search_clear
{
	display: none;
}

.search_group:hover .search_button.search_clear
{
	display: inline-block;
}

input.btn_usporedba_dodaj
{
	border: 1px solid #ddd;
	margin: 0;
    padding: 15px;
	height: 26px;
	width: 26px;
	text-align: center;
	vertical-align: middle;
	background: url(../Images/plus_circle.png) no-repeat center center;
	margin-right: 0;
	outline: 0;
}

input.btn_usporedba_dodaj:active{
	position: relative;
	top: 1px;
}

input.btn_usporedba_dodaj:focus{
    background-color: transparent;
}

.fond_usporedba_container
{
	margin: 0;
	/*float: right;
	text-align: right;*/
}

.fond_usporedba_container_inner{
}

.fond_usporedba_select{
	display: inline-block;
    padding: 2px;
    background: #dcdad6;
}

.fond_usporedba_container select
{
	min-width: 140px;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-right: none;
}

.fond_usporedba_table
{
    display: table-cell;
    vertical-align: middle;
}

.fond_usporedba_table table,
.fond_usporedba_table table td{
    border: none;
}

.fond_usporedba_table table{
    width: 300px;
}

.fond_usporedba_table tr{
    height: 40px;
}

.fond_usporedba_table td:first-child
{
    width: 24px;
    vertical-align: middle;
}

.fond_usporedba_table td:nth-child(2){
    width: 35px;
}

.fond_usporedba_table td:last-child
{
	cursor: default;
	padding: 0 5px;
    font-weight: 600;
    font-size: 18px;
}

/*bojanje fondova za usporedbu*/
.fond_usporedba_table .fond_usporedba_color{
    display: block;
    height: 16px;
    width: 16px;
    margin: 0 auto;
    padding: 0;
}

.fond_usporedba_table tr.first_child .fond_usporedba_color{
    background-color: #0070bb;
}

.fond_usporedba_table tr:nth-child(1) .fond_usporedba_color{
    background-color: #0070bb;
}

.fond_usporedba_table tr.second_child .fond_usporedba_color{
    background-color: #c1272c;
}

.fond_usporedba_table tr:nth-child(2) .fond_usporedba_color{
    background-color: #c1272c;
}

.fond_usporedba_table tr.third_child .fond_usporedba_color{
    background-color: #8bc53e;
}

.fond_usporedba_table tr:nth-child(3) .fond_usporedba_color{
    background-color: #8bc53e;
}

.fond_usporedba_table tr.fourth_child .fond_usporedba_color{
    background-color: #92278f;
}

.fond_usporedba_table tr:nth-child(4) .fond_usporedba_color{
    background-color: #92278f;
}

input.fond_usporedba_delete
{
	background: none;
	border: none;
	padding: 0;
	padding: 3px;
    height: 20px;
    width: 20px;
    margin: 0;
    vertical-align: middle;
    outline: 0;
}

input.fond_usporedba_delete:focus{
    background: none;
}

.graf_usporedba_container
{
	width: 100%;
	margin-top: 16px;
    position: relative;
    display: table;
}

.graf_usporedba
{
}

/* CIJENE */
.graf_cijene
{
	margin: 15px auto;
}

ul.chart_legend li{
    display: block;
    height: 17px;
    line-height: 17px;
    padding-left: 10px;
    list-style-type: none;
    border-left-style: solid;
    border-left-width: 17px;
    margin-bottom: 7px;
}

.form_item .prinosi_table
{
	position: absolute;
	right: 15px;
}

.form_body .prinosi_table
{
	margin-left: 30px;
	margin-bottom: 30px;
}

/* dodatne kontrole na stranici */
.form_body_extra
{
	background: #F5F5F5;
	width: 450px;
	min-height: 370px;
	padding: 5px;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	margin-top: 20px;
	text-align: center;
	position: relative;
}

.form_body_extra.body_left{
	float: left;
	margin-left: 20px;
}

.form_body_extra.body_right{
	float: right;
	margin-right: 20px;
}

/*pretraživanje unutar user kontroli*/
.ctrl_search
{
	margin: 7px 0;
}

.prinosi_table
{
	border-collapse: collapse;
	cursor: default;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 30px;
}

.readonly .prinosi_table{
    font-size: 15px;
}

.prinosi_table th
{
    text-align: left;
    vertical-align: bottom;
    padding-bottom: 5px;
    font-weight: bold;
}

.prinosi_table th .prinos_color{
    display: block;
    height: 17px;
    width: 170px;
    margin: 0 auto 20px auto;
}

.prinosi_table th:nth-child(2) .prinos_color{
    background-color: #0070bb;
}

.prinosi_table th.second_child .prinos_color{
    background-color: #0070bb;
}

.prinosi_table th:nth-child(3) .prinos_color{
    background-color: #c1272c;
}

.prinosi_table th.third_child .prinos_color{
    background-color: #c1272c;
}

.prinosi_table th:nth-child(4) .prinos_color{
    background-color: #8bc53e;
}

.prinosi_table th.fourth_child .prinos_color{
    background-color: #8bc53e;
}

.prinosi_table th:nth-child(5) .prinos_color{
    background-color: #92278f;
}

.prinosi_table th.fifth_child .prinos_color{
    background-color: #92278f;
}

table.prinosi_table tr{
    height: 30px;
}

.readonly table.prinosi_table tr{
    height: 25px;
}

table.prinosi_table td{
    width: 200px;
}

table.prinosi_table td,
table.prinosi_table th
{
	text-align: center;
}

table.prinosi_table.narrow td,
table.prinosi_table.narrow th{
    width: auto;
    padding: 0 10px;
    text-align: right;
}

table.prinosi_table td:first-child,
table.prinosi_table th:first-child
{
	text-align: left;
}


td .positive {
    color: #009245;
}

td .negative {
    color: #ed1c24;
}

.struktura_ulaganja_table
{
    display: inline-block;
    width: 350px;
	border-collapse: collapse;
	cursor: default;
	margin-top: 15px;
    margin-right: 10px;
    vertical-align: top;
}

.struktura_ulaganja_table th
{
	text-align: left;
	border-bottom: 1px solid #d0d0d0;
	padding: 0 10px 0 5px;
}

.struktura_ulaganja_table td
{
	padding: 5px 10px 5px 5px;
}

.struktura_ulaganja_table td:first-child
{
	width: 300px;
}

.struktura_ulaganja_table td:nth-child(2)
{
	text-align: right;
}

ul.fondovi_slicni
{
	list-style-type: none;
}

ul.fondovi_slicni li
{
	margin: 3px 0;
}

ul.fondovi_slicni .fond_naziv
{
	vertical-align: middle;
	margin-left: 5px;
}


/* FORMA ZA UNOS */
/* naziv grupe */
.level2{
	margin-left: 50px;
}

.form_group
{
    /*width: 100%;*/
	margin-top: 20px;
    margin-bottom: 10px;
	font-size: 15px;
    color: inherit;
    background: #F6A47B;
    padding: 6px 15px;
}

.level2 .form_group{
	background-color: #F6A47B;
}

/* container za opis i vrijednost */
.form_item
{
	margin: 12px 30px;
	position: relative;
}

.form_item.inline
{
    display: inline-block;
}

.readonly .form_item
{
    margin: 15px 0 15px 20px;
}

.form_item.prompt
{
	border-top: 2px solid #999;
	padding-top: 10px;
	font-weight: bold;
}

.left_edit
{
	float: left;
}

.right_edit
{
	float: right;
}

.spacer{
	width: 85%;
	height: 1px;
	margin-left: 20px;
	background-color: #aaa;
}

/* labele unosnih formi */
.form_item_label
{
	display: inline-block;
    width: 150px;
	color: #666;
	vertical-align: middle;
}

.wide .form_item_label
{
	width: 200px;
}

.form_item_label.small
{
	width: 50px;
}

.form_item_label.small2,
.form_item_label_edit.small2
{
	width: 100px;
}

.form_item_label_edit
{
	display: inline-block;
    width: 150px;
    color: #333;
    vertical-align: middle;
}

.form_item_label_edit.wide{
	width: 440px;
}

.form_item_label_edit.small
{
	width: 50px;
}

.form_item_label_edit.inline
{
	display: inline;
	width: auto;
}

.prompt .form_item_label_edit{
	color: #e80c4d;
}

a.form_item_link
{
	padding: 4px 20px 4px 30px;
	margin-left: 5px;
	width: auto;
	color: #1E6DC2;
	text-decoration: none;
	background: url('../Images/pdf.png') no-repeat center left;
}

input[type="text"].dxeEditArea
{
	outline: 0;
	margin: 0;
}

a.form_item_link:not([href])
{
	display: none;
}

.edit a.form_item_link
{
	display: block;
}

.edit a.form_item_link:not([href])
{
	cursor: default;
	background: none;
	text-decoration: line-through;
}

a.form_item_link:hover
{
	color: #666;
}

/* vrijednosti polja */
.form_item_value
{
    font-weight: bolder;
    max-width: 160px;
    display: inline-block;
    vertical-align: middle;
}

.wide .form_item_value
{
	max-width: 495px;
}

.form_item_value.text
{
	font-weight: normal;
	max-width: none;
	padding-right: 15px;
}

select.form_item_value_edit,
input.form_item_value_edit,
textarea.form_item_value_edit
{
	width: 400px;
	margin: 0;
    vertical-align: middle;
	background-color: #f6f6f6;
    border: 1px solid #d0d0d0;
    padding: 3px 5px;
    box-shadow: inset 1px 1px 0px rgba(0,0,0,0.07);
	font-size: 12px;
	-moz-transition: background-color 1s, border-color 0.3s;
	-webkit-transition: background-color 1s, border-color 0.3s;
	-o-transition: background-color 1s, border-color 0.3s;
    transition: background-color 1s, border-color 0.3s;
    outline: 0;
}

select.form_item_value_edit:focus,
input.form_item_value_edit:focus,
textarea.form_item_value_edit:focus{
    border-color: #F6A47B;
}

input.form_item_value_edit
{
	width: 388px;
}


input.form_item_value_edit.small
{
	width: 50px;
}

input.form_item_value_edit.ulica
{
	width: 300px;
}

input.form_item_value_edit.mjesto
{
	width: 243px;
}

input.form_item_value_edit.racun
{
	width: 322px;
}

textarea.form_item_value_edit
{
	width: 388px;
	height: 70px;
	vertical-align: top;
}



input:focus,
textarea:focus
{
    background-color: #fff;
}

/*input[type="radio"] + label
{
	display: inline-block;
	cursor: pointer;
	width: 80px;
	margin-left:2px;
}*/

/* validatori */
.validate_error_inline
{
	color: red;
	margin-left: 152px;
	font-size: 11px;
}

.validate_error_inline.small2
{
	margin-left: 105px;
}

.validate_error_inline:not([style*="none"])
{
	display: block !important;
}

.validation_summary
{
    margin: 10px 15px;
    color: #FF1111;
    border: 1px solid #FFaaaa;
    border-left-width: 5px;
    border-right-width: 5px;
    background: #FFfefe;
}

.validation_summary ul
{
    list-style: square;
    margin: 15px 30px;
}

/* popis koraka */
/*.steps_menu
{
    margin-top: 20px;
	text-align: center;
	position: relative;
	left: 50%;
	margin-left: -50px;
}*/

ul.steps_menu
{
	text-align: center;
	list-style: none;
	margin: 30px auto;
	cursor: default;
	font-size: 20px;
}

ul.steps_menu li
{
	display: inline;
	padding: 3px 10px;
}

ul.steps_menu li.selected
{
	background-color: #32393B;
	color: #fff;
}

/* blok teksta */
.form_text
{
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
	margin: 10px 0;
	border-radius: 3px;
	font-size: 13px;
}

/* slike */
img.drustvo_logo
{
	max-width: 200px;
	margin: 10px;
}

img.form_item_value_edit,
img.form_item_value
{
	width: 64px;
	height: 64px;
	vertical-align: middle;
}

.image_link
{
	display: inline-block;
}

a.image_link:hover
{
    background: none;
}


/* gumbi */
.btn_navigation_group
{
    clear: both;
	border-top: 1px solid #ccc;
	margin-top: 10px;
	padding: 10px;
	text-align: right;
	/*background-color: rgba(33,118,207, 0.05);*/
}

.btn_navigation_group.center_buttons
{
	text-align: center;
}

.btn_navigation_group.left_buttons
{
	text-align: left;
}

.btn_navigation_group.snug
{
	margin-top: 0;
}

input.btn_navigation
{
	margin: 0 3px;
	background-color: #EF5A21;
    border: none;
	color: #fff;
	padding: 5px 10px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	background-repeat: no-repeat;
}

.btn_navigation.alone
{
	margin: 10px;
}

input.btn_navigation:hover
{
}

input.btn_navigation:focus
{
	outline: 0;
}

input.btn_navigation.next
{
	background-image: url(../Images/arrow_right_white.png);
	background-position: right 5px center;
	width: 145px;
	text-align:left;
}

input.btn_navigation.prev
{
	background-image: url(../Images/arrow_left_white.png);
	background-position: left 5px center;
	width: 155px;
	text-align:right;
}

input.btn_navigation.finish,
input.btn_navigation.save
{
	background-image: url(../Images/check_white.png);
	background-position: right 5px center;
	width: 85px;
	text-align:left;
}

input.btn_navigation.save
{
	width: 95px;
}

input.btn_navigation.cancel
{
	background-image: url(../Images/cancel_white.png);
	background-position: right 5px center;
	width: 105px;
	text-align:left;
}

input.btn_navigation:active
{
	position: relative;
	top: 1px;
    box-shadow: none;
}

input[type=button].btn_grid_akcija,
input[type=submit].btn_grid_akcija
{
	margin: 2px;
	padding: 3px 6px;
	background-color: #f7a57b;
    border: none;
	color: #32393B;
	outline: 0;
}

input[type=button].btn_grid_akcija:active,
input[type=submit].btn_grid_akcija:active
{
    position: relative;
    top: 1px;
}

input[type=button].btn_kupi{
    width: 120px;
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding: 0;
    padding-left: 20px;
    background: #009245 url(/Images/kupi_white.png) no-repeat 80px center;
    border: none;
    font-family: inherit;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.btn_navigation_group img{
	margin: 0 5px;
}

/* checkbox i radiobutton*/
.form_item_value_edit input[type=radio],
.form_item_value_edit input[type=checkbox]
{
	display:none;
}

.form_item_value_edit input[type=radio] + label,
.form_item_value_edit input[type=checkbox] + label
{
	background-image:url('../Images/radio_button.png');
	padding-left:24px;
	height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
	width:auto;
	margin-right: 10px;
	/*font-size: 12px;*/
	min-width: 80px;
}

.form_item_value_edit.small input[type=radio] + label{
	min-width: 23px;
}

.form_item_value_edit input[type=radio]:checked + label
{
	background-position: 0 -20px;
}

.form_item_value_edit input[type=checkbox] + label
{
	background-image:url('../Images/checkbox_darker.png');
	height:22px;
	line-height:22px;
	padding-left:27px;
}

.form_item_value_edit input[type=checkbox]:checked + label
{
	background-position: 0 -22px;
}

.fond_indeksni{
	color: red;
}

/*login*/
.user_box
{
    background: rgb(255,255,255);
    background: rgba(255,255,255,.8);
    border: none;
    width: 500px;
	margin: 20px auto 0 auto;
	margin-top: 20px;
	position: relative;
}

.user_box h2
{
    background-color: #F6A47B;
    margin: 0;
    text-align: center;
    color: inherit;
    font-size: 21px;
    padding: 5px 0;
    font-weight: normal;
}

.user_box ol
{
	margin-top: 15px;
    list-style-type: none;
}

.user_box ol li
{
    text-align: right;
    margin-right: 85px;
}

.user_box .message-info,
.user_box .message-info-bottom
{
	display: block;
	text-align: center;
	font-size: 14px;
	padding: 10px;
}

.user_box .message-info-bottom
{
	color: #222;
	display: block;
	width: 500px;
	position: absolute;
	top: 100%;
}

.user_box .field-validation-error:not([style*=none])
{
    display: block !important;
    text-align: right;
    margin-right: 5px;
    color: #F05A22;
    font-weight: normal;
	font-size: 13px;
}

.user_box .validation-summary-errors
{
	font-size: 13px;
	color: #F05A22;
	padding: 0 10px;
	text-align:center;
}

.user_box input[type=text],
.user_box input[type=password],
.user_box input[type=email]
{
    border: none;
    height: 25px;
    background-color: rgba(0,0,0,0.1);
    margin: 5px;
    padding-left: 10px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    outline: 0;
    transition: all 0.3s;
}

.user_box input[type=text]:focus,
.user_box input[type=password]:focus,
.user_box input[type=email]:focus
{
    background-color: rgba(0,0,0,0.15);
}

.user_box .btn_group
{
	text-align: right;
	margin-top: 5px;
}

.user_box input[type=submit]
{
    background-color: #575B5A;
    border: 1px solid #ccc;
    border-right: none;
    border-bottom: none;
    color: #fff;
    margin: 0;
    padding: 10px 15px;
    outline: 0;
}

.user_box input[type=submit]:hover
{
    background-color: #494e4c;
}

.user_box input[type=submit]:active
{
    background-color: #424645;
}

.user_box a
{
	color: inherit;
}

.user_box .register_link
{
	position: absolute;
	left: 10px;
	bottom: 10px;
    text-decoration: none;
    transition: font-size 0.2s;
}

.user_box a.register_link:hover
{
    font-size: 15px;
}

.user_box .login_extra
{
	text-align: center;
	position: absolute;
	top: 101%;
	width: 500px;
}

.user_box .login_extra a
{
	color: #555;
}

/*registracija*/
#registerForm
{
}


/* user manage */
#passwordForm
{
}

/*resetiranej lozinke*/
#passwordRecoveryForm
{
	
}

/******************************/
/************ BLOG ************/

.blog_container{
	width: 750px;
	margin: 0 auto;
}

.blog_item{
	position: relative;
	margin: 20px 0;
	padding: 10px 15px;
	background: #fff;
}

.blog_item .form_item{
	margin: 10px 0;
}
.blog_item .btn_navigation_group{
	background: none;
	padding: 0;
	padding-top: 5px;
}

.blog_title{
	font-size: 21px;
	padding-bottom: 2px;
	border-bottom: 1px solid #bbb;
    color: inherit;
}

.blog_info{
	padding: 1px 5px;
	text-align: right;
}

.blog_time{
	font-size: 13px;
	color: #888;
}

.blog_text{
	margin-top: 5px;
	text-align: justify;
}

.blog_button{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
}

.blog_button.edit{
	right: 30px;
	background: url(../Images/pencil.png) no-repeat center center;
}

.blog_button.delete{
	right: 5px;
	background: url(../Images/trash_light.png) no-repeat center center;
}

input.btn_blog_novi{
	margin: 10px 0;
    padding-right: 30px;
    background-image: url(/Images/plus_white.png);
    background-repeat: no-repeat;
    background-position: right center;
}