<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    
    <add name="FondEntities"
connectionString="
metadata=res://*/InvestApp.DAL.FondModel.csdl|
res://*/InvestApp.DAL.FondModel.ssdl|
res://*/InvestApp.DAL.FondModel.msl;
provider=System.Data.SqlClient;
provider connection string=&quot;data source=mssql5.mojsite.com,1555;initial catalog=investap_mojsite;
persist security info=True;user id=investap_SQLLogin_834;password=C9Vgrb8MbKRw;multipleactiveresultsets=True;
application name=InvestApp&quot;" providerName="System.Data.EntityClient" />
    
    <add name="InvestAppConnectionString2" connectionString="          Data Source=MyPC;          Initial Catalog=InvestApp;          Integrated Security=True;          MultipleActiveResultSets=True;Application Name=InvestApp" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="bios@bios.hr">
        <network host="mail.bios.hr" password="pass" userName="test@bios.hr" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <globalization uiCulture="hr" culture="hr-HR" />
    
    <customErrors mode="On" defaultRedirect="~/Greska.aspx">
      <error statusCode="404" redirect="~/404.aspx"/>
    </customErrors>

    <machineKey
          validationKey="5234367860123256789017345678931235567390AAAAAAAAAA"
          decryptionKey="923856489518347675903132564898163552789012345678"
          validation="SHA1"
          decryption="Auto"
        />
    
    <urlMappings enabled="true">
      <clear />
      <add url="~/Fond/FondProdaja.aspx" mappedUrl="~/Fond/FondKupnja.aspx?mod=P" />
      <add url="~/Pocetna.aspx" mappedUrl="~/Fond/FondPregled.aspx?uvod=D" />
    </urlMappings>
    
    <siteMap enabled="true" defaultProvider="webSitemap">
      <providers>
        <clear />
        <add siteMapFile="Web.sitemap" name="webSitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
        <add siteMapFile="Admin.sitemap" name="adminSitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.Printing.v13.2.Core, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.RichEdit.v13.2.Core, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxThemes.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <!--<add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="FondEntities" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />-->
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="InvestAppConnectionString2" applicationName="InvestApp" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="InvestAppRoleProvider">
      <providers>
        <remove name="InvestAppRoleProvider" />
        <add connectionStringName="InvestAppConnectionString2" applicationName="InvestApp" name="InvestAppRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <!--<add connectionStringName="FondEntities" applicationName="InvestApp"
          name="InvestAppRoleProvider" 
          type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Xhtml" rightToLeft="false" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <location path="Admin/FondCijeneUdjelaUredjivanje.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, Drustvo" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin/FondStrukturaUredjivanje.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, Drustvo" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin/FondUredjivanje.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, Drustvo" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Fond/FondKorisnikDetalji.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Fond/FondProdaja.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Fond/FondPortfeljPregled.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <deny roles="Drustvo" />
      </authorization>
    </system.web>
  </location>
  <location path="Fond/FondRealizacija.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <deny roles="Drustvo" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Fond/FondZahtjeviPregled.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <deny roles="Drustvo" />
      </authorization>
    </system.web>
  </location>
  <location path="Fond/FondKupnja.aspx">
    <system.web>
      <authorization>
        <deny roles="Drustvo" />
      </authorization>
    </system.web>
  </location>
  <location path="FondUsporedba/FondUsporedba.aspx">
    <system.web>
      <authorization>
        <deny roles="Drustvo" />
      </authorization>
    </system.web>
  </location>
</configuration>
